@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,700&display=swap");
* {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
body {
  padding: 60px;
}
.title {
  font-weight: 400;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 500;
}
